body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background: rgb(255, 255, 255);
}

.dark-mode {
  background-color: black;
  color: white;
}

h2 {
  margin-top: 30px;
}

.night-or-light-mode {
  position: absolute;
  top: -13px;
  right: 10px;
}

.switch {
  width: 0;
  height: 0;
  visibility: hidden;
}

.night-or-light-mode span {
  position: absolute;
  top: 29px;
  left: -30px;
}

label {
  width: 70px;
  height: 35px;
  border-radius: 40px;
  display: block;
  cursor: pointer;
  background-color: black;
  position: relative;
  transition: all 0.3s ease-out;
}

label::after {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: all 0.5s ease-out;
}

.switch:checked + label::after {
  background-color: black;
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.switch:checked + label {
  background-color: white;
}

a {
  text-decoration: none;
  margin-top: 30px;
  color: rgb(217, 37, 37);
  font-size: 1.2rem;
}

.input-grid {
  display: grid;
  grid-template-columns: 300px 80px;
  row-gap: 10px;
  column-gap: 5px;
  margin-bottom: 15px;
  align-items: center;
}

.input-grid {
  align-items: stretch;
}

.grocery-list-grid {
  display: grid;
  grid-template-columns: 220px 80px 80px;
  align-items: center;
  row-gap: 10px;
  column-gap: 3px;
}

.submit-btn,
.edit-btn,
.clear-btn {
  margin-left: 3px;
  padding: 10px;
  border: none;
  color: white;
  background-color: rgb(146, 28, 28);
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.edit-btn {
  background-color: rgb(34, 61, 143);
}

i {
  transform: scale(1.4);
}

.submit-btn {
  background-color: rgb(19, 106, 19);
}

.clear-btn:hover,
.submit-btn:hover,
.edit-btn:hover {
  opacity: 0.8;
}

.clear-btn:active,
.submit-btn:active,
.edit-btn:active {
  transform: scale(1.05);
}

.name-input {
  border: 2px solid rgb(40, 80, 180);
  box-shadow: 0 0 6px rgba(40, 80, 180, 0.4);
  height: 31px;
  outline: none;
  text-indent: 8px;
}

.grocery-name {
  text-align: left;
}

@media screen and (max-width: 387px) {
  .input-grid {
    grid-template-columns: 280px 80px;
  }

  .grocery-list-grid {
    grid-template-columns: 200px 80px 80px;
  }

  a {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .night-or-light-mode {
    top: 0;
  }
}
