body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  margin-top: 30px;
  color: rgb(217, 37, 37);
  font-size: 1.2rem;
}

.input-grid {
  display: grid;
  grid-template-columns: 300px 80px;
  row-gap: 10px;
  column-gap: 5px;
  margin-bottom: 15px;
}

.grocery-list-grid {
  display: grid;
  grid-template-columns: 220px 80px 80px;
  align-items: center;
  row-gap: 10px;
  column-gap: 3px;
}

@media screen and (max-width: 387px) {
  .input-grid {
    grid-template-columns: 280px 80px;
  }

  .grocery-list-grid {
    grid-template-columns: 200px 80px 80px;
  }

  a {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

.clear-btn,
.submit-btn,
.edit-btn {
  margin-left: 3px;
  padding: 10px;
  border: none;
  color: white;
  background-color: rgb(202, 48, 48);
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.edit-btn {
  background-color: rgb(26, 150, 238);
}

.submit-btn {
  background-color: rgb(40, 80, 180);
}

.clear-btn:hover,
.submit-btn:hover,
.edit-btn:hover {
  opacity: 0.8;
}

.clear-btn:active,
.submit-btn:active,
.edit-btn:active {
  transform: scale(1.05);
}

.name-input {
  border: 2px solid rgb(40, 80, 180);
  filter: drop-shadow(2px 2px 4px rgba(40, 80, 180, 0.4));
  height: 31px;
  text-indent: 8px;
}

.grocery-name {
  text-align: left;
}
